@{
}
<h1 class="h1">Get to Know Joel</h1>
<br />
<a href="https://www.qwcomedy.com/" class="restofit">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/" class="restofit">
    Baconsale site
    <br />
    <img src="~/img/baconsalekate.jpg" class="img" height="500" />
</a>